

	<h4>Hi guys, </h4>

	<h4> I'm Srinidhi, Ruby on rails developer. I'm a graduate from East Point College of Engineering and Technology. After graduating, I found it difficult to get a job as companies ask for experience. I had to do 4 months of Internship in order to learn what industry wants. I m building this portal so that you guys can get "hands on experience" rather than getting along with textbooks and marks which a industry doesn't want.  </h4>

	<h4> I provide steps for beginning, learning and getting along with Technologies such as <b>HTML </b>, <b>CSS </b>, <b>Boostrap </b>, <b>Javascript </b>, <b>Jquery </b>, <b>Ruby on Rails </b>. This makes easy for even a dumbest guy to begin, learn good technologies what current industry wants and makes easy for every guy getting placed sooner and better companies. </h4>


	<h4> Developers who wanna be part of this portal sharing whatever knowledge, would be given access to write articles, can ping to my email given below. </h4>

	<h4> Stay tuned for updates on this portal. </h4>

	<h4> You can ping me on <a>srini.satti@gmail.com</a> or even call or whatsapp to this no <b>8296757651 </b> <h4>



